node_modules
**/node_modules
dist
.env
server/data
*.log
.DS_Store
*.fpk
release/
fnos-native-package/app/bin/node
fnos-native-package/app/bin/feigram-downloader
fnos-native-package/app/bin/ffmpeg
fnos-native-package/app/bin/ffprobe
*.tmp
